<div class="main">

  <mat-accordion>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title> Adicionar nova tarefa </mat-panel-title>
      </mat-expansion-panel-header>

      <h1>Nova tarefa:</h1>
      <app-tarefa-input (newDataEvent)="appendData($event)"/>

    </mat-expansion-panel>
  </mat-accordion><br>

  <h2>Lista de tarefas</h2>
  <!-- <button (click)="sortTarefasIdAsc()" mat-stroked-button>Organizar por Id (Asc.)</button>
  <button (click)="sortTarefasIdDesc()" mat-stroked-button>Organizar por Id (Desc.)</button><br>
  <label for="filterTitle">Filtrar por título: </label>
  <input id="filterTitle" type="text" #filterTitleValue ngModel matInput placeholder="'Minha Tarefa'">
  <button (click)="filterByTitle(filterTitleValue)" mat-stroked-button>Filtrar</button><br>
  <label for="filterId">Filtrar por id: </label>
  <input id="filterId" type="number" #filterIdValue ngModel matInput placeholder="'10'">
  <button (click)="filterById(filterIdValue)" mat-stroked-button>Filtrar</button> -->
  <app-tarefa-wrapper [tarefa]="tarefa" (removeItemEvent)="removeItem($event)"
  (concludeItemEvent)="concludeItem($event)"/>
</div>
